$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */

* {
  box-sizing: border-box;
  transition: all 0.3s ease;
}

html, body, [ui-view] {
  width: 100%;
  height: 100%;
}

.navbar-text {
  margin-left: 15px;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

// Component styles are injected through grunt
// injector
@import '_partials/_vars.scss';
@import '_partials/typography.scss';
@import 'account/login/login.scss';
@import 'admin/admin.scss';
@import 'directives/message/message.scss';
@import 'main/main.scss';
@import 'modal/modal.scss';
@import 'navbar/_navbar.scss';
// endinjector