div(ng-include='"components/navbar/navbar.html"')

.chat-log
  message(ng-repeat="msg in chatLog" msg="msg")


form.chat(name="chat", ng-submit="nextMessage()")
  input(type="text", placeholder="Need something? Addit", ng-model="inputMessage")