div.message.clearfix
  //- From me
  .message-inner.from-me(ng-show="isFromMe(msg)")
    p {{msg.text}}
  //- Confirmation
  .message-inner.from-addit.confirmation(ng-show="{{msg.concern === 'confirmation'}}")
    p {{msg.text}}
    .image-wrapper
      img(ng-show="msg.items.length", ng-src="{{msg.items[0]}}")
    button.action(ng-show="msg.actions.length",
      ng-repeat="action in msg.actions")
      | {{action}}
  
  //- Decision
  .message-inner.from-addit.decision(ng-show="{{msg.concern === 'decision'}}")
    p {{msg.text}}
    img(ng-show="msg.items.length")
    button.action(ng-show="msg.actions.length",
      ng-repeat="action in msg.actions")
      | {{action}}
  
  //- Choice
  .message-inner.from-addit.choice(ng-show="{{msg.concern === 'choice'}}")
    p {{msg.text}}
    img(ng-show="msg.items.length")
    button.action(ng-show="msg.actions.length",
      ng-repeat="action in msg.actions")
      | {{action}}

  //- Multi-choice
  .message-inner.from-addit.multi-choice(ng-show="{{msg.concern === 'multi-choice'}}")
    p {{msg.text}}
    img(ng-show="msg.items.length")
    button.action(ng-show="msg.actions.length",
      ng-repeat="action in msg.actions")
      | {{action}}