.message {
  width: 100%;
  margin-bottom: 10px;
  .message-inner {
    max-width: 70%;
    padding: 10px;
    border: solid #ccc 1px;
    border-radius: 10px;
    &.from-me {
      float: right;
    }
    &.from-addit {
      float: left;
    }
    p {
      margin: 0;
    }
  }
}